/*************************************************************************************** GLOBAL **********************************************************************************/
body {
    margin: 0px;
    background-color: #F0EBE3;
    text-align: center;
    font-family: Arial;
}

h1 {
    font-size: 3rem;
    font-family: 'Indie Flower', cursive;
    color: #7D9D9C;
}

p {
    color: #576F72;
    font-size: 1.25rem;
    font-family: Inconsolata;
}

hr {
    width: 30%;
}

/*************************************************************************************** IMAGES **********************************************************************************/
.irresoluteduck {
    width: 180px;
}

.social-media {
    width: 180px;
}

.social-icons {
    width: 90px;
    margin: 10px;
}

/************************************************************************************* CONTAINERS ********************************************************************************/
.whoiam-container {
    margin: 100px;
}

.contentcreator-container {
    background-color: #E4DCCF;
    padding: 20px;
}

.socials-container {
    margin: 100px;
}
