/*************************************************************************************** GLOBAL **********************************************************************************/
body {

}

h1 {
    font-size: 3rem;
    font-family: 'Indie Flower', cursive;
    color: #7D9D9C;
}

p {
    color: #576F72;
    font-size: 1.25rem;
    font-family: Inconsolata;
}

/*************************************************************************************** IMAGES **********************************************************************************/
.profile {
    margin: 20px;
}

.irresoluteduck {
    width: 180px;
    margin: 20px;
}

.social-media {
    margin: 20px;
    width: 180px;
}

.social-icons {
    width: 90px;
    margin: 10px;
}

/************************************************************************************* CONTAINERS ********************************************************************************/
.whoiam-container {
    background-color: #F0EBE3;
    padding: 20px;
    text-align: center;
}

.contentcreator-container {
    background-color: #E4DCCF;
    padding: 20px;
    text-align: center;
}

.socials-container {
    background-color: #F0EBE3;
    padding: 20px;
    text-align: center;
}
